/* Default CSS*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color: #076b3b;
    --secondary-color:#0baf51;
    --third-color: white;
    --fourth-color: #0b4d2c ;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
}

body{
    overflow-x: hidden;
    font-weight: 400;
    background-color: white !important;
    color: white !important;
    display: block !important;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    line-height: normal;
}

.navbar {
    padding: 10px 0;
    position: fixed;
    z-index: 9999;
    padding: 50px;
    font-size: 100%;
    top: 0;
    left: 0;
    transition: 0.5s ease-in-out;
    background: var(--main-color);
}

.btn-contact{
    padding: 10px;
    position: relative;
    background-color: var(--secondary-color);
    text-decoration: none;
    color: white;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
    transition: 0.2s;
}

.btn-contact::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

.me-auto{
    width: 30%;
    display: flex;
    justify-content: space-between;   
}

@media (min-width: 991px){
    .me-auto{
        margin-right: 60px;
    }
}
.active{
    font-size: 100px;
}
.btn-contact:hover::before{
    transform: translateX(0);
}

.btn-contact:hover::before{
    content: "";
}

.btn-contact:hover{
    color: black;
}
.active {
    font-size: 100px;
}

a.navbar-link{
    color: white !important;
}

a.navbar-brand{
    font-weight: bolder;
    color: white;
    margin-right: 40px;
}

a#basic-nav-dropdown{
    color: white;
}

span.navbar-toggler-icon{
    filter: invert(1);
}

button.navbar-toggler{
    border-color: grey;
}
a.navbar-brand img{
    width: 30px;
    height: 30px;
}

.navbar .scrolled{
    padding: 0;
    background-color: white;
}

.navbar-text {
    width:30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 10%;
}

.socials__button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
}
  
.socials__button__media {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 100% 100%;
    transition: 0.2s ease;
    margin-left: 10px;
}

.socials__button__media svg{
    width: 30px;
}
    
.button__icon path {
    transition: 0.5s ease;
    fill: white;
    transition: .2s ease;
  
}
  

.socials__button__media{
    background-color: var(--secondary-color) ;
}

.socials__button__media:hover{
    transform: scale(1.1);
    background-color: var(--third-color);
}

.socials__button__media:hover path{
    fill: var(--main-color);
}

#email{
    margin-left: 0;
}

.wrap{
    margin-left: 15px;
}

#home p{
    margin-bottom: 7%;
} 

#home h3{
    margin-bottom: 5%;
}

.header{
    font-size: 3em;
    text-align: center;
    margin-bottom: 5%;
}

.subhead{
    font-size: 1.4em;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

@keyframes bob{
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(10%);
    }
}

.banner{
    background: linear-gradient(30deg, var(--secondary-color), var(--main-color));
    height: 100%;
}

#landing{
    padding: 0 !important;
    margin: 0;
    width: 100vw !important;
}
.landing {
    position: relative; 
    width: 100vw;
    padding: 0;
    padding: 7%;
    margin: 0;
    height: 100%;
    display: grid;
    background-image: url("./assets/miniailandingcover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.landing-cover {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.6;
    background: black;
}
.landing-content {
    position: relative;
    z-index: 1; 
    padding: 20px; 
}

.btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.learnmore {
    width: 40%;
    height: 45px;
    border-bottom: 4px solid black;
    display: inline-block;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 100%;
    cursor: pointer;
    color: black;
    z-index: 1;
  }
  
  .learnmore:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .learnmore:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #39bda7;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .learnmore:hover {
    color: #ffffff;
    border: 1px solid var(--main-color);
  }
  
  .learnmore:hover:before {
    top: -35%;
    background-color: var(--main-color);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .learnmore:hover:after {
    top: -45%;
    background-color: var(--main-color);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }

.more-info{
    width: 100%;
    padding: 3%;
    padding-top: 5%;

}
.info-card{
    background: linear-gradient(30deg, var(--fourth-color), var(--main-color));
    padding: 3%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}
.info-text{
    width: 100%;
    text-align: left;
    font-size: 100%;
}

.info-p{
    font-size: 1.3em;
    margin-top: 60px;
}

.info-head{
    display: block;
    font-size: 2em;
    text-align: left;
}

.miniSvg path{
    fill: white;
}

#formLink:hover:before{
    background-color: var(--secondary-color);
}

#formLink:hover::after{
    background-color: var(--secondary-color);
}

.slider-bx{
    text-align: center;
    width: 100%;
    background-color: rgba(7, 100, 50, 0.8);
    background-image: url(./assets/miniailong.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-radius: 30px;
    margin-top: 10%;
    padding: 5%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.slider-bx h2{
    font-size: 3em;
}

.item{
    opacity: 0.9;
}

.foot-bg{
    max-width: 100vw !important;
    margin: 0;
    padding: 3%;
    padding-left: 10% !important;
    padding-right: 10% !important;
    background: linear-gradient(160deg, black, silver 500%);
}
.foot-content{
    margin: 100px;
}

.footer{
    width: 80%;
    height: 100%;
    transform: scale(1.2);
}

.footer-social.socials__button {
    width: 50%;
    margin-bottom: 40px;
}

.footer-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


.footer img{
    width: 50%;
    height: 50%;
}

.footer-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer table{
    height: 100%;
    width: 100%;
    font-size: 1em;
    text-align: center;
}

.footer table td{
    padding: 5px;
}

.cr{
    width: 100%;
    text-align: center;
}

.alert{
    margin: 0 !important;
}

.alert a {
    color: var(--fourth-color);
}

.alert a:hover{
    color: #0baf51;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:500');


@keyframes background__change {
  0% {
    background: linear-gradient(30deg, var(--third-color) -10%, whitesmoke, var(--third-color) 10%);
  }

  5% {
    background: linear-gradient(30deg, var(--third-color) -8%, whitesmoke, var(--third-color) 20%);
  }

  10% {
    background: linear-gradient(30deg, var(--third-color) -5%, whitesmoke, var(--third-color) 30%);
  }

  15% {
    background: linear-gradient(30deg, var(--third-color) 0%, whitesmoke, var(--third-color) 35%);
  }

  20% {
    background: linear-gradient(30deg, var(--third-color) 0%, whitesmoke, var(--third-color) 40%);
  }

  25% {
    background: linear-gradient(30deg, var(--third-color) 5%, whitesmoke, var(--third-color) 45%);
  }

  30% {
    background: linear-gradient(30deg, var(--third-color) 10%, whitesmoke, var(--third-color) 50%);
  }

  35% {
    background: linear-gradient(30deg, var(--third-color) 15%, whitesmoke, var(--third-color) 55%);
  }

  40% {
    background: linear-gradient(30deg, var(--third-color) 20%, whitesmoke, var(--third-color) 60%);
  }

  45% {
    background: linear-gradient(30deg, var(--third-color) 25%, whitesmoke, var(--third-color) 65%);
  }

  50% {
    background: linear-gradient(30deg, var(--third-color) 30%, whitesmoke, var(--third-color) 70%);
  }

  55% {
    background: linear-gradient(30deg, var(--third-color) 35%, whitesmoke, var(--third-color) 75%);
  }

  60% {
    background: linear-gradient(30deg, var(--third-color) 40%, whitesmoke, var(--third-color) 80%);
  }

  65% {
    background: linear-gradient(30deg, var(--third-color) 45%, whitesmoke, var(--third-color) 85%);
  }

  70% {
    background: linear-gradient(30deg, var(--third-color) 50%, whitesmoke, var(--third-color) 90%);
  }

  75% {
    background: linear-gradient(30deg, var(--third-color) 55%, whitesmoke, var(--third-color) 95%);
  }

  80% {
    background: linear-gradient(30deg, var(--third-color) 60%, whitesmoke, var(--third-color) 100%);
  }

  85% {
    background: linear-gradient(30deg, var(--third-color) 65%, whitesmoke, var(--third-color) 105%);
  }

  90% {
    background: linear-gradient(30deg, var(--third-color) 70%, whitesmoke, var(--third-color) 110%);
  }

  95% {
    background: linear-gradient(30deg, var(--third-color) 75%, whitesmoke, var(--third-color) 115%);
  }

  100% {
    background: linear-gradient(30deg, var(--third-color) 80%, whitesmoke, var(--third-color) 130%);
  }
}
S
.card__content {
  background: var(--main-color);
  border-radius: 17px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.contact__container {
  margin-top: 7vh;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__card {
  width: 90%;
  height: 80%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: rgba(3, 134, 55, 0.4) 0vw 0vw 5vw;
}

.contact__image__col {
  width: 40%;
  height: 95%;
  background: linear-gradient(30deg, var(--fourth-color) 0%, var(--secondary-color), var(--fourth-color) 50%);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact__image__content {
  width: 100%;
  height: 100%;
  background: var(--main-color);
  border-radius: 10px;

}

.contact__text__col {
  width: 50%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contact__name {
  width: 90%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.2em;
  color: black;
  padding: 5px;
}

.contact__text {
  width: 90%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  line-height: 1.6;
  font-size: 1.5em;
  color: black;
  text-align: justify;
}

.card__foot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 12%;
  width: 100%;
}

.body__button {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}




.body__button__bg {
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body__button:hover{
    outline: none;
    scale: 1.05;
}
.body__button button {
    color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80%;
  background-color: var(--main-color);
  text-align: center;
}

.gradient-bg{
    background-image: none !important;
    background: linear-gradient(40deg, var(--main-color), var(--secondary-color)) !important;
    padding: 10%;
}

.card {
  width: 280px;
  height: 280px;
  color: black;
  background: white;
  border-radius: 32px;
  padding: 3px;
  position: relative;
  box-shadow: #604b4a30 0px 70px 30px -50px;
  transition: all 0.5s ease-in-out;
}

.card .mail {
  position: absolute;
  right: 2rem;
  top: 1.4rem;
  background: transparent;
  border: none;
}

.card .mail svg {
  stroke: #fbb9b6;
  stroke-width: 3px;
}

.card .mail svg:hover {
  stroke: #f55d56;
}

.card .profile-pic {
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  top: 3px;
  left: 3px;
  border-radius: 29px;
  z-index: 1;
  border: 0px solid #fbb9b6;
  overflow: hidden;
  transition: all 0.5s ease-in-out 0.2s, z-index 0.5s ease-in-out 0.2s;
}

.card .profile-pic img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-position: 0px 0px;
  object-position: 0px 0px;
  transition: all 0.5s ease-in-out 0s;
}

.card .profile-pic svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 0px 0px;
  object-position: 0px 0px;
  transform-origin: 45% 20%;
  transition: all 0.5s ease-in-out 0s;
}

.card .bottom {
  position: absolute;
  bottom: 3px;
  left: 3px;
  right: 3px;
  background: #fbb9b6;
  top: 80%;
  border-radius: 29px;
  z-index: 2;
  box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px inset;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.card .bottom .content {
  position: absolute;
  bottom: 0;
  left: 1.5rem;
  right: 1.5rem;
  height: 160px;
}

.card .bottom .content .name {
  display: block;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
}

.card .bottom .content .about-me {
  display: block;
  font-size: 0.9rem;
  color: white;
  margin-top: 1rem;
}

.card .bottom .bottom-bottom {
  position: absolute;
  bottom: 1rem;
  left: 1.5rem;
  right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card .bottom .bottom-bottom .social-links-container {
  display: flex;
  gap: 1rem;
}

.card .bottom .bottom-bottom .social-links-container svg {
  height: 20px;
  fill: white;
  filter: drop-shadow(0 5px 5px rgba(165, 132, 130, 0.1333333333));
}

.card .bottom .bottom-bottom .social-links-container svg:hover {
  fill: #f55d56;
  transform: scale(1.2);
}

.card .bottom .bottom-bottom .button {
  background: white;
  color: #fbb9b6;
  border: none;
  border-radius: 20px;
  font-size: 0.6rem;
  padding: 0.4rem 0.6rem;
  box-shadow: rgba(165, 132, 130, 0.1333333333) 0px 5px 5px 0px;
}

.card .bottom .bottom-bottom .button:hover {
  background: #f55d56;
  color: white;
}

.card:hover {
  border-top-left-radius: 55px;
}

.card:hover .bottom {
  top: 20%;
  border-radius: 80px 29px 29px 29px;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}

.card:hover .profile-pic {
  width: 100px;
  height: 100px;
  aspect-ratio: 1;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  z-index: 3;
  border: 7px solid #fbb9b6;
  box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px;
  transition: all 0.5s ease-in-out, z-index 0.5s ease-in-out 0.1s;
}

.card:hover .profile-pic:hover {
  transform: scale(1.3);
  border-radius: 0px;
}

.card:hover .profile-pic img {
  transform: scale(2.5);
  -o-object-position: 0px 25px;
  object-position: 0px 25px;
  transition: all 0.5s ease-in-out 0.5s;
}

.card:hover .profile-pic svg {
  transform: scale(2.5);
  transition: all 0.5s ease-in-out 0.5s;
}

